{% extends 'base.html' %}
{% block title %}Create{% endblock %}
{% block content %}
<form method="post" enctype=multipart/form-data>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" required>
    </div>
    <div class="mb-3">
        <label for="media" class="form-label">Media <small>(optional)</small></label>
        <input type="file" class="form-control" name="media">
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">Body</label>
        <textarea class="form-control" rows="8" name="body" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}