{% extends 'base.html' %}
{% block content %}
    <script>
        function addText(id) {
            el = document.getElementById("reply");
            el.value += '>>' + id + '\n';
            el.focus();
        }
    </script>
    {% for post in posts %}
        {% if loop.index == 1 %}
            <h1>{{ post['title'] }}</h1>
            <svg style="float: right; cursor:pointer" onclick="addText({{ post['id'] }})" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                <path d="M5.921 11.9L1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
            </svg>
            <h5 class="text-muted">#{{ post['id'] }} at {{ post['created_at'].strftime('%b %e %I:%M %p') }}</h5>
        {% else %}
            <svg style="float: right; cursor:pointer" onclick="addText({{ post['id'] }})" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                <path d="M5.921 11.9L1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
            </svg>
            <h6 class="text-muted">#{{ post['id'] }} at {{ post['created_at'].strftime('%b %e %I:%M %p') }}</h6>
        {% endif %}
        <p>{{ post['body'] }}</p>
        <hr>
    {% endfor %}
    <form method="post">
    <div class="mb-3">
        <textarea class="form-control" name="body" id="reply" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Reply</button>
</form>
{% endblock %}