{% extends 'base.html' %}
{% block content %}
    <script>
        function addText(id) {
            el = document.getElementById("reply");
            el.value += '>>' + id + '\n';
            el.focus();
        }
    </script>
    {% for post in posts %}
        {% if loop.index == 1 %}
            <h1>{{ post['title'] }}</h1>
            <div>
                {% if g.is_admin %}
                    <form action="{{ url_for('delete', id=post['id'], next='/') }}" method="POST">
                        <button style="float:right" class="btn" type="submit">
                            <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </button>
                    </form>
                {% endif %}
                <button class="btn" style="float: right" onclick="addText({{ post['id'] }})">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                        <path d="M5.921 11.9L1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
                    </svg>
                </button>
            </div>
            <h5 class="text-muted">#{{ post['id'] }} at {{ post['created_at'].strftime('%b %e %I:%M %p') }}</h5>
        {% else %}
            <div>
                {% if g.is_admin %}
                    <form action="{{ url_for('delete', id=post['id'], next=request.path) }}" method="POST">
                        <button style="float:right" class="btn" type="submit">
                            <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                            </svg>
                        </button>
                    </form>
                {% endif %}
                <button class="btn" style="float: right" onclick="addText({{ post['id'] }})">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                        <path d="M5.921 11.9L1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
                    </svg>
                </button>
            </div>
            <h6 class="text-muted">#{{ post['id'] }} at {{ post['created_at'].strftime('%b %e %I:%M %p') }}</h6>
        {% endif %}
            {% if post['media_url'] and  post['media_url']|length %}
                <a href="{{ post['media_url'] }}" target="_blank"><img class="img-fluid" style="max-width: 25%" src="{{ post['media_url'] }}"></a>
            {% endif %}
        <p>{{ post['body'] }}</p>
        <hr>
    {% endfor %}
    <form method="post">
    <div class="mb-3">
        <textarea class="form-control" name="body" id="reply" rows="5" required></textarea>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="media_url" placeholder="Optional Media URL">
    </div>
    <button type="submit" class="btn btn-primary">Reply</button>
</form>
{% endblock %}